
.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 3.75rem;
    gap: 1rem;
}
.header__logo h2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: 0.063rem;
}
.header__container nav {
    display: flex;
    gap: 3.125rem;
}
.header__container nav a {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.094rem;
}
.header__nav-button {
    display: none;
}
.header__nav-button svg path {
    fill: var(--color-light);
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ===================================== */
@media screen and (max-width: 1024px) {
    
  }
  
  /* ============================ MEDIA QUERIES (SMALL DEVICES) ===================================== */
  @media screen and (max-width: 600px) {
    .header__container {
        padding-top: 1.75rem;
    }
    .header__container nav {
        position: absolute;
        flex-direction: column;
        right: 2.188rem;
        gap: 1rem;
        border: 1px solid var(--color-light);
        background: var(--color-bg);
        padding: 1rem 1.5rem;
        z-index: 1;
    }
    .header__container .hide {
        display: none;
    }
    .header__nav-button {
        display: block;
    }
  }