
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-bg: #000;
  --color-bg-variant: rgb(255, 255, 255,0.1);
  --color-primary: #25AB75;
  --color-primary-variant: rgb(37, 171, 117, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.5);

  --transition:  all 400ms ease;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 97%;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}
/* =========== HEADER STYLES =========== */

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  color: var(--color-white);
}
h1 {
  font-size: 7.5rem;
  line-height: 7.5rem;
  font-weight: 600;
  letter-spacing: -2px;
}
h2 {
  font-size: 3.125rem;
  line-height: 2.813rem;
  font-weight: 600;
  letter-spacing: 0.019rem;
}
h2.light {
  line-height: 4.375rem;
  font-weight: 400;
  letter-spacing: 0.052rem;
}
h3{
  font-size: 2.188rem;
  line-height: 2.813rem;
  font-weight: 600;
  letter-spacing: 0.019rem;
}
h4 {
  font-size: 1.563rem;
  line-height: 2.188rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.34);
}
h5 {
  font-size: 1.25rem;
  line-height: 1.563rem;
  font-weight: 500;
  letter-spacing: 0.031rem;
}
h6 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.031rem;
  color: rgba(255, 255, 255, 0.5);
}

section {
  margin-top: 8rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  display: inline-block;
  color: var(--color-primary);
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 1.5rem 2.688rem;
  border-radius: 0.625rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  width: max-content;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary-variant);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn-primary:hover {
  background: var(--color-primary-variant);
  color: var(--color-white);
}
.btn-dark {
  background: var(--color-bg-variant);
  color: var(--color-white);
  border-color: var(--color-bg-variant);
}
.btn-dark:hover {
  background: var(--color-bg);
  color: var(--color-white);
  border-color: var(--color-bg-variant);
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ===================================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ============================ MEDIA QUERIES (SMALL DEVICES) ===================================== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}