
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-bg: #000;
  --color-bg-variant: rgb(255, 255, 255,0.1);
  --color-primary: #25AB75;
  --color-primary-variant: rgb(37, 171, 117, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.5);
  --color-red: #FB1351;
  --color-yellow: #FFE642;

  --transition:  all 400ms ease;

  --container-width-lg: 1200px;
  --container-width-md: 90%;
  --container-width-sm: 97%;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}
/* =========== HEADER STYLES =========== */

.container {
  max-width: var(--container-width-lg);
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
}
.text-size-1 {
  font-size: 7.5rem;
  line-height: 7.5rem;
  font-weight: 600;
  letter-spacing: -2px;
}
.text-size-2 {
  font-size: 3.125rem;
  line-height: 2.813rem;
  font-weight: 600;
  letter-spacing: 0.019rem;
}
.text-size-2.light {
  line-height: 4.375rem;
  font-weight: 400;
  letter-spacing: 0.052rem;
}
.text-size-3{
  font-size: 2.188rem;
  line-height: 2.813rem;
  font-weight: 600;
  letter-spacing: 0.019rem;
}
.text-size-4 {
  font-size: 1.563rem;
  line-height: 2.188rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.34);
}
.text-size-5 {
  font-size: 1.25rem;
  line-height: 1.563rem;
  font-weight: 500;
  letter-spacing: 0.031rem;
}
.text-size-6 {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.031rem;
  
}
span.span-pill {
  color: white;
  letter-spacing: 0.094rem;
  font-style: normal;
  font-weight: 600;
  font-size: 0.625rem;
  padding-block: 0.25rem;
  padding-inline: 0.625rem;
  background-color: var(--color-primary);
  border-radius: 200px;

}

section {
  margin-top: 8rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  color: var(--color-primary);
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 1.5rem 2.688rem;
  border-radius: 0.625rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  width: max-content;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary-variant);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn-primary:hover {
  background: var(--color-primary-variant);
  color: var(--color-white);
}
.btn-dark {
  background: var(--color-bg-variant);
  color: var(--color-white);
  border-color: var(--color-bg-variant);
}
.btn-dark:hover {
  background: var(--color-bg);
  color: var(--color-white);
  border-color: var(--color-bg-variant);
}

/* ============================ MEDIA QUERIES (MEDIUM DEVICES) ===================================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .btn {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

/* ============================ MEDIA QUERIES (SMALL DEVICES) ===================================== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  
}